.menu {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.itemlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
}

.itemlist .logo {
    width: 100%;
}

.itemlist .logo img {
    height: 40px;
}

.items {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.items p {
    font-size: 20px;
    opacity: 40%;
    cursor: pointer;
}

.items p.active {
    opacity: 100%;
}

.profile img {
    width: 42px;
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .menu {
        width: 100%;
        flex-direction: row;
        height: fit-content;
    }

    .itemlist .logo img {
        height: 28px;
    }

    .items {
        flex-direction: row;
        column-gap: 24px;
        flex-wrap: wrap;
    }

    .items p {
        font-size: 18px;
    }

    .profile img {
        width: 32px;
    }
}