.songlist {
    max-width: 450px;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 4px 0;
    row-gap: 24px;
}

.playlist-title {
    font-size: 28px;
    color: var(--white-1);
    font-family: var(--BasierCircleBold);
    padding: 0 16px;
}

.search {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 16px;
}

.search input {
    width: 90%;
    padding: 12px 2px 12px 18px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px 0 0 8px;
    font-size: 16px;
}

.search span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 0 8px 8px 0;
    height: 100%;
    padding-right: 12px;
    cursor: pointer;
}

.search span img {
    opacity: 40%;
}

.list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.list::-webkit-scrollbar {
    display: none;
}

.list .listitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.list .listitem.active {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
}

.list .listitem .info {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.list .listitem .info img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.list .listitem .info .song-info h3 {
    font-size: 18px;
    font-weight: 400;
}

.list .listitem .info .song-info h4 {
    font-size: 14px;
    font-weight: 400;
    opacity: 40%;
}

.list .listitem .duration {
    opacity: 60%;
}

@media screen and (max-width: 769px) {
    .songlist {
        max-width: 100%;
        row-gap: 18px;
        padding-bottom: 170px;
    }

    .playlist-title {
        font-size: 22px;
        padding: 0;
    }

    .search {
        padding: 0;
    }

    .search input {
        font-size: 14px;
        padding: 8px 1px 8px 10px;
    }

    .search span {
        padding-right: 8px;
    }

    .search span img {
        width: 16px;
    }

    .list .listitem {
        padding: 10px;
    }

    .list .listitem .info .song-info h3 {
        font-size: 16px;
    }

    .list .listitem .duration {
        font-size: 14px;
    }
}